{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Lifestyle Store</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>
    <div class="container">
    <div class="row rowstyle">
    <div class="col-xs-6 col-xs-offset-3">

    <div class="panel panel-primary">
    <div class="panel-heading">
    <h2>ARE YOU SURE TO ADD IT TO THE CART</h2>
    </div>
    <div class="panel-body">
    <form  method="post" name="form">
    {% csrf_token %}
    <b>user name:</b><input type="text" value={{request.user}} name="cname" required="true" readonly><br><br>
    <b>Product name:</b><input type="text" value="CRAYONS" name="pname" required="true" readonly><br><br>
    <label for="colour">Choose colour:</label>
  <select name="pcolour" id="pcolour">
    <option value="Blue">Blue</option>
    <option value="Black">Black</option>
    <option value="Red">Red</option>
    <option value="Green">Green</option>
  </select>
  <br><br>
    <b>cost:</b><input type="text" value="50"  name="pcost" required="true" readonly><br><br>

    <button type="submit" name='sibut'>
    Add to cart
    </button>   
    </form>
    </div>
    <div class="panel-footer">
    <p>ENTER THE CORRECT INFORMATION</p>
    </div>
    </div>

    </div>
    </div>
    </div>
</body>
</html>