{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <title>Lifestyle Store</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>
           <div class="header">
            <div class="innerhedder">
                <div class="logo">
                    <a href="{% url 'afterlog' %}">Lifestyle Store</a>
                </div>
                
                <div class="headerlink">
                    <a href="{% url 'index' %}">Logout</a>
                </div>
                <div class="headerlink">
                    <a href="{% url 'cart_p' %}">CART</a>
                </div>
            </div>
        </div>
        <center><h3 style='font-weight: bold;font-size: 30px;'>RESULTS FOR DISCOUNT ITEMS:</h3></center>
        <div class="container">
            <div class="items">
                
                    <img src="{% static 'img/41.jpg' %}" alt="PS-5" class="thumbnail" >
                    <div class="caption">
                        <h2>Washing Machine</h2>
                        <p>Price:RS.60000</p>
                        <p>pay:RS.36000</p>
                        <a href="{% url 'cart_36' %}">
                        <button type="button">
                            Add TO Cart
                        </button></a>
                        <a href="{% url 'payment' %}">
                        <button type="button">
                            PAY
                        </button></a>
                    </div>
                
               
            </div>
            <div class="items">
               
                    <img src="{% static 'img/42.jpg' %}" alt="BOOK" class="thumbnail" >
                    <div class="caption">
                        <h2>Sewing Machine</h2>
                        <p>Price:RS.10000</p>
                        <p>pay:RS.6000</p>
                        <a href="{% url 'cart_37' %}">
                        <button type="button">
                            Add TO Cart
                        </button></a>
                        <a href="{% url 'payment' %}">
                        <button type="button">
                            PAY
                        </button></a>
                    </div>
                
            </div>
            <div class="items">
              
                    <img src="{% static 'img/43.jpg' %}" alt="BOOK" class="thumbnail" >
                    <div class="caption">
                        <h2>Mask </h2>
                        <p>Price:RS.150</p>
                        <p>pay:RS.90</p>
                        <a href="{% url 'cart_38' %}">
                        <button type="button">
                            Add TO Cart
                        </button></a>
                        <a href="{% url 'payment' %}">
                        <button type="button">
                            PAY
                        </button></a>
                    </div>
                
            </div>
        </div>
            <div class="container">
            <div class="items">
                
                    <img src="{% static 'img/44.jpg' %}" alt="GRAPHIC" class="thumbnail" >
                    <div class="caption">
                        <h2>Plates Set</h2>
                        <p>Price:RS.3000</p>
                        <p>pay:RS.1800</p>
                        <a href="{% url 'cart_39' %}">
                        <button type="button">
                            Add TO Cart
                        </button></a>
                        <a href="{% url 'payment' %}">
                        <button type="button">
                            PAY
                        </button></a>
                    </div>
                
               
            </div>
            <div class="items">
                
                    <img src="{% static 'img/45.jpg' %}" alt="SUN GLASSES" class="thumbnail" >
                    <div class="caption">
                        <h2>Dining Table Set</h2>
                        <p>Price:RS.4500</p>
                        <p>pay:RS.2700</p>
                        <a href="{% url 'cart_40' %}">
                        <button type="button">
                            Add TO Cart
                        </button></a>
                        <a href="{% url 'payment' %}">
                        <button type="button">
                            PAY
                        </button></a>
                    </div>
                
            </div>
            <div class="items">
                
                    <img src="{% static 'img/46.jpg' %}" alt="HEAD PHONES" class="thumbnail" >
                    <div class="caption">
                        <h2>Tea Cup Set</h2>
                        <p>Price:RS.1000</p>
                        <p>pay:RS.600</p>
                        <a href="{% url 'cart_41' %}">
                        <button type="button">
                            Add TO Cart
                        </button></a>
                        <a href="{% url 'payment' %}">
                        <button type="button">
                            PAY
                        </button></a>
                    </div>
                
            </div>
            </div>
        </div>
            <div class="container">
            <div class="items">
                
                    <img src="{% static 'img/47.jpg' %}" alt="GRAPHIC" class="thumbnail" >
                    <div class="caption">
                        <h2>Sanitizer Set</h2>
                        <p>Price:RS.2000</p>
                        <p>pay:RS.1200</p>
                        <a href="{% url 'cart_42' %}">
                        <button type="button">
                            Add TO Cart
                        </button></a>
                        <a href="{% url 'payment' %}">
                        <button type="button">
                            PAY
                        </button></a>
                    </div>
             
               
            </div>
            <div class="items">
               
                    <img src="{% static 'img/48.jpg' %}" alt="SUN GLASSES" class="thumbnail" >
                    <div class="caption">
                        <h2>Water Botel Set</h2>
                        <p>Price:RS.100</p>
                        <p>pay:RS.60</p>
                        <a href="{% url 'cart_43' %}">
                        <button type="button">
                            Add TO Cart
                        </button></a>
                        <a href="{% url 'payment' %}">
                        <button type="button">
                            PAY
                        </button></a>
                        
                    </div>
               </a>
            </div>
            <div class="items">
                
                    <img src="{% static 'img/49.jpg' %}" alt="HEAD PHONES" class="thumbnail" >
                    <div class="caption">
                        <h2>Dish Washer</h2>
                        <p>Price:RS.80000</p>
                        <p>pay:RS.48000</p>
                        <a href="{% url 'cart_44' %}">
                        <button type="button">
                            Add TO Cart
                        </button></a>
                        <a href="{% url 'payment' %}">
                        <button type="button">
                            PAY
                        </button></a>
                    </div>
               
            </div>
            </div>
</body>
</html>