{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        

        <title>Lifestyle Store</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>

        <div class="container">
            <div class="row rowstyle">
                <div class="col-xs-6 col-xs-offset-3">
                    
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2>CHOOSE PAYMENT METHOD</h2>
                        </div>
                        <div class="panel-body">
                            <form method="post">
                             <a href="{% url 'cre_deb' %}">   
                                CREDIT/DEBIT CARD  
                             </a> <br><br>
                             <a href="{% url 'netbank' %}">   
                                NET BANKING  
                             </a> <br><br>
                             <a href="{% url 'success' %}">   
                                CASH ON DELIVERY  
                             </a>
                            </form>
                              
                         </div>
                        <div class="panel-footer">
                            <p>CHOOSING PARTICULAR OPTION THE PAGE WILL REDIRECT</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>  
</body>
</html>